<%- include('partials/header') -%>
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">Genderstanding</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><a>About</a></li>
      <li><a>FAQ</a></li>
      <li><a>Donate</a></li>
    </ul>
  </div>
</div>

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Close the Understanding Gap</h1>
      <!-- <p class="py-6">Closing the Understanding Gap</p> -->
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="text" placeholder="email" class="input input-bordered" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input type="password" placeholder="password" class="input input-bordered" />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <a href ="/login" class="btn btn-primary"><button>Login</button></a>
        </div>
        <div class="form-control mt-6">
          <a href="/signup" class ="btn btn-secondary"><button>Sign Up</button></a>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
    

<%- include('partials/footer') -%>