<%- include('partials/header') -%>

                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <div class="grid h-screen place-items-center">
                  <div class="card w-96 bg-base-100 shadow-xl text-center">
                    <div class="card-body">
                      <div class="card-body text-center items-center">
                        <h2 class="card-title">Sign Up</h2>
                      </div>
                      <form action="/login" method="POST">
                          <div class="form-control w-full max-w-xs">
                            <label class="label">
                              <span class="label-text">User Name</span>
                            </label>
                            <input type="text" placeholder="user name" class="input input-bordered w-full max-w-xs" id="userName" name="userName" />
                          </div>
                          <div class="form-control w-full max-w-xs">
                            <label class="label">
                              <span class="label-text">Email</span>   
                            </label>
                            <input type="text" placeholder="email" class="input input-bordered w-full max-w-xs" id="email" name="email" />
                            <!-- <label class="label">
                              <span class="label-text-alt"></span> -->
                              <!-- <span class="label-text-alt">We will never share your information</span> -->
                            <!-- </label> -->
                          </div>
                          <div class="form-control w-full max-w-xs">
                            <label class="label">
                              <span class="label-text">Password</span>
                              </label>
                            <input type="password" placeholder="password" class="input input-bordered w-full max-w-xs" name="password" id="password" />
                            <!-- <label class="label">
                            <span class="label-text-alt"></span> -->
                            <!-- <span class="label-text-alt">Must contain at least eight characters</span> -->
                            <!-- </label> -->
                          </div>
                          <div class="form-control w-full max-w-xs">
                            <label class="label">
                              <span class="label-text">Confirm Password</span>
                            </label>
                            <input type="password" placeholder="confirm password" class="input input-bordered w-full max-w-xs" name="confirmPassword" id="confirmPassword"/>
                            <!-- <label class="label">
                            </label> -->
                          </div>
                          <div class="form-control">
                            <label class="label cursor-pointer">
                              <span class="label-text">I have <span class="text-secondary">questions</span> about gender identity</span> 
                              <input type="checkbox" class="checkbox checkbox-secondary" name="hasQuestions" id="hasQuestions" value="hasQuestions" />
                            </label>
                            <label class="label cursor-pointer">
                              <span class="label-text">I have <span class="text-primary">answers</span> about gender identity</span> 
                              <input type="checkbox" class="checkbox checkbox-primary" name="hasAnswers" id="hasAnswers" value="hasAnswers" />
                            </label>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>